<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Spam Detector</h1>
        <form action="/" method="POST">
            <label >Enter the message</label>
            <input type="text" name="message" required>
        </form>
    </div>
</body>
</html>